@font-face{
  font-family: zhulangzhongyuan;
  src: url(./../fonts/zhulangzhongyuan.otf)
}
@font-face{
  font-family: zijingti;
  src: url(./../fonts/zijingti.ttf)
}

html,body{
  font-family: zhulangzhongyuan ;
}